# ignore my work with escalibr
escalibr_color.xml
output_escalibr.xml

# ignore Images except for test sample
Images/*
!Images/shipwreck_depth_000606.png

# ignore third-party packages
third-party/

input.xml
output.xml
